
<nav>
    <h1>Logo</h1>
    <ul>
        <li route="/" yellowColor>Home</li>
        <li route="/about" yellowColor>About</li>
        <li route="/contact" yellowColor>Contact</li>
        <li route="/login" yellowColor>Login</li>
        <li route="/register" yellowColor>Register</li>
    </ul>

    <ul>
        <li color="true" font="arial">Değer1</li>
        <li color="true" font="arial">Değer2</li>
        <li color="true" font="arial">Değer3</li>
        <li color="true" font="arial">Değer4</li>
        <li color="true" font="arial">Değer5</li>
    </ul>
</nav>


<div id="question" style="display: none;">
    <h1>Sayfaya Geçmek istiyor musunuz?</h1>
    <button id="evetBtn" (click)="gotoPage($event)">Evet</button>
    <button>Hayır</button>
</div>
