<!-- BEGIN: Content-->
<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
        <div class="content-header row">
            <div class="content-header-left col-md-9 col-12 mb-2">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-start mb-0">Select</h2>
                        <div class="breadcrumb-wrapper">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a>
                                </li>
                                <li class="breadcrumb-item"><a href="#">Form Elements</a>
                                </li>
                                <li class="breadcrumb-item active">Select
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-header-right text-md-end col-md-3 col-12 d-md-block d-none">
                <div class="mb-1 breadcrumb-right">
                    <div class="dropdown">
                        <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i data-feather="grid"></i></button>
                        <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" href="app-todo.html"><i class="me-1" data-feather="check-square"></i><span class="align-middle">Todo</span></a><a class="dropdown-item" href="app-chat.html"><i class="me-1" data-feather="message-square"></i><span class="align-middle">Chat</span></a><a class="dropdown-item" href="app-email.html"><i class="me-1" data-feather="mail"></i><span class="align-middle">Email</span></a><a class="dropdown-item" href="app-calendar.html"><i class="me-1" data-feather="calendar"></i><span class="align-middle">Calendar</span></a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- Bootstrap Select start -->
            <section class="bootstrap-select">
                <button (click)="getApiRequest()" class="btn btn-primary">Api Request</button>

                <div class="form-group mt-4">
                    <input type="text" [(ngModel)]="search" class="form-control" placeholder="Aranacak değer...">
                    <table class="table mt-2">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name lastName</th>
                                <th>Profession</th>
                                <th>Image</th>
                                <th>Salary</th>
                                <th>Starting Date</th>
                                <th>Leaving Date</th>
                                <th>Leaving Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr 
                            [ngClass]="l.leavingDate ? 'alert alert-danger' : 'alert alert-success'" 
                            [color]="l.leavingDate"
                             *ngFor="let l of list | listPipe: search let index = index">
                                <td>{{index + 1}}</td>
                                <td>{{l.name}} {{l.lastName}}</td>
                                <td>
                                    <img src="https://kik.ecnorow.com/images/{{l.imageUrl}}" width="50">
                                </td>
                                <td>{{l.salary | currency}}</td>
                                <td>{{l.startingDate | date: 'dd.MM.yyyy'}}</td>
                                <td>{{l.leavingDate ? (l.leavingDate | date: 'dd.MM.yyyy') : 'Çalışıyor'}}</td>
                                <td>{{l.leavingStatus ? l.leavingStatus : 'Çalışıyor'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <!-- Bootstrap Select end -->          
        </div>
    </div>
</div>
<!-- END: Content-->
